html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body{
	font-family: 'Roboto Slab', serif;
  line-height: 26px;
	color: #6d6e71;
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6{color: #27aae1;}

h1.grey, h2.grey, h3.grey, h4.grey, h5.grey, h6.grey{
  color: #6d6e71;
  margin: 0 auto 20px;
}

.tab-pane h2 {
  font-family: 'Merienda', cursive;
}

a{
  color: #27aae1;
  text-decoration: none;
}

a:hover{color: #149AC9;}

a, a:active, a:focus {
  outline: none;
}

.container{
  max-width: 500px;
  margin: auto;
}

.btn-primary{
	background: #27aae1;
	padding: 7px 25px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
	position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}
.btn-primary1{
  background: #27aae1;
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}
.btn-primary:hover{
  background: #149AC9;
  transition: all 1s;
}

.form-control{
  background: #fff;
  border: 1px solid #f1f2f2;
  box-shadow: none;
  border-radius: 4px;
  color: #939598;
  width: 100% ;
}

/* Accordion */
.panel-default{
  border-color: #f1f2f2;
}

.panel-default>.panel-heading{
  color: #333;
  background-color: #fff;
  border-color: #f1f2f2;
  padding-right: 40px;
  position: relative;
}

.panel-default>.panel-heading::before{
  content: "";
  color: #8dc63f;
  position: absolute;
  right: 15px;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.panel-default>.panel-heading .panel-title a:hover,
.panel-default>.panel-heading .panel-title a:active,
.panel-default>.panel-heading .panel-title a:focus{
  text-decoration: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
  border-top-color: #f1f2f2;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: 1px solid #f1f2f2;
}

.panel-body .label-primary{
  background-color: #27aae1;
}

.panel-body .label-success{
  background-color: #8dc63f;
}

/*==================================================
  Landing Page: V2 | Register/Login
  ==================================================*/

#lp-register{
  background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)), url(bg.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
}

#lp-register .wrapper{
  padding: 40px 0;
}


/*Registration Form Container*/

.reg-form-container{
  background: #fff;
  box-shadow: 0 0 35px rgba(0,0,0, .4);
  padding: 40px 40px 40px 60px;
  border-radius: 6px;
  position: relative;
  min-height: 450px;
  max-height: 700px;
  z-index: 10;
}

.reg-form-container::before{
  content: "";
  background: rgba(255,255,255, .1);
  width: 95%;
  height: 70%;
  border-radius: 6px;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -2;
}

.reg-form-container::after{
  content: "";
  background: rgba(255,255,255, .1);
  width: 90%;
  height: 65%;
  border-radius: 6px;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.reg-form-container .reg-options::before{
  content: "";
  background: linear-gradient(to right, rgba(255,255,255, 0.2) , rgba(255,255,255, 0.05));
  height: 70%;
  width: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
  border-radius: 6px 0 0 6px;
  z-index: -1;
}


/*Registration Login/Register Tabs*/

.reg-form-container .reg-options .nav-tabs{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-60%) rotate(270deg);
  border: none;
}

.reg-form-container .nav-tabs > li{
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.reg-form-container .nav-tabs > li::after{
  content: "";
  background: rgba(255,255,255, 0.1);
  height: 25px;
  width: 1px;
  position: absolute;
  right: -10px;
  top: 5px;
}

.reg-form-container .nav-tabs > li:last-child::after{
  content: none;
}

.reg-form-container .nav-tabs > li > a{
  background: transparent;
  color: #939598;
  padding: 5px 30px;
  min-width: 120px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: none;
  text-decoration: none;
}

#register {
  display: inline;
}

#login {
  display: none;
}

#reg_act {
  color: white;
}

#log_act {
  color: gray;
}

/*Registration Form*/

#registration_form .form-group,
#Login_form .form-group{
  margin: 10px;
}

#registration_form .form-control,
#registration_form .form-control-100,
#Login_form .form-control,
#Login_form .form-control-100{
  background: #fff;
  color: #939598;
  border-radius: 30px;
  box-shadow: none;
  width: 45%;
  height: 30px;
  border: 1px solid #f1f2f2;
  padding-left: 15px;
  margin-bottom: 5px;
}

#registration_form .form-control-100,
#Login_form .form-control-100 {
  width: 100%;
}

#registration_form select.form-control{
  background: rgba(0, 0, 0, 0) url("down-arrow.png") no-repeat scroll calc(100% - 10px) center / 8px auto;
  -webkit-appearance: none;
  appearance: none;
  color: #939598;
  width: 45%;
}

#home {
  float: right;
}
